@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Alpha Male Modern';
    src: url('/font/AlphaMaleModern.ttf') format('truetype');
}

[x-cloak] {
    display: none;
}

.pulsoAdvertencia{
    animation: pulsoAdvertenciaED 1.2s infinite;
}

@keyframes pulsoAdvertenciaED {
    0% {
        transform: scale(0.8);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(0.8);
    }
}